.skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Lobster", cursive;
    font-size: 40px;
    background-color: white;
}

.skill img {
    height: 300px;
    width: 300px;
    padding: 10px 10px 10px 10px;
    display: block;
}
